//fonts
@use "./Fonts.scss";

body {
  letter-spacing: normal;
  font-family: 'YekanBakh-Regular', 'sans-serif';
}
html * {
  direction: rtl !important;
  scroll-behavior: smooth !important;
  letter-spacing: 0
}

.padding_container {
  padding: 0 24px!important;
  @media (min-width: 361px) {
    padding: 0 80px!important;
  }
}
.pointer{
  cursor: pointer !important;
}
.border16 {
  border-radius: 16px !important;
}
.Card_sheet{
  box-shadow: 0 2px 3px 0 #00000008;
  border-radius: 24px !important;
}


//fonts
.f12{
  font-size: 12px !important;
}
.f13{
  font-size: 13px !important;
}
.f14{
  font-size: 14px !important;
}
.f15{
  font-size: 15px !important;
}
.f20{
  font-size: 20px !important;
}
.f24{
  font-size: 24px !important;
}

.fw400{
  font-weight: 400 !important;
}
.fw500{
  font-weight: 500 !important;
}
.fw600{
  font-weight: 600 !important;
}
.fw700{
  font-weight: 700 !important;
}
.fw800{
  font-weight: 800 !important;
}
.fw900{
  font-weight: 900 !important;
}