body {
  letter-spacing: normal;
  font-family: 'Yekan-Bakh', 'sans-serif';
}
html * {
  direction: rtl !important;
  scroll-behavior: smooth !important;
  letter-spacing: 0
}

.pointer{
  cursor: pointer !important;
}
.paddingContainerDesktop {
  padding: 0 80px!important;
}
//Cards
.CardSheet{
  box-shadow: 0 2px 3px 0 #00000008;
  border-radius: 24px !important;
  padding: 16px;
}
.productCard{
  box-shadow: 0 10px 40px 0 #0000000D;
  border-radius: 24px !important;
  border: 1px solid #E9EDF5;
}
.titleCard{
  border-radius: 4px 16px 16px 4px !important;
  padding: 12px 16px !important;
  background-color: #F5F7FA !important;
}
.contentCard{
  border-radius: 16px 4px 4px 16px !important;
  padding: 12px 16px !important;
  background-color: #F5F7FA !important;
}


.border16 {
  border-radius: 16px !important;
}

//fonts
.f12{
  font-size: 12px !important;
}
.f13{
  font-size: 13px !important;
}
.f14{
  font-size: 14px !important;
}
.f15{
  font-size: 15px !important;
}
.f20{
  font-size: 20px !important;
}
.f24{
  font-size: 24px !important;
}

.fw400{
  font-weight: 400 !important;
}
.fw500{
  font-weight: 500 !important;
}
.fw600{
  font-weight: 600 !important;
}
.fw700{
  font-weight: 700 !important;
}
.fw800{
  font-weight: 800 !important;
}